

<header>
  <div class="hearts" id="hearts-container"></div>

  <nav>
    <!-- Imagem com nome e logo juntos -->
    <div style="display: flex; align-items: center;">
      <img src="/assets/Logo.png" alt="Logo com nome Viralar">
    </div>

    <!-- Navegação -->
    <div style="display: flex; gap: 1.5rem; align-items: center;">
      <a routerLink="/" class="fw-bold">Home</a>
      <a routerLink="/pets" class="fw-bold">Ver Pets</a>
      <a routerLink="/cadastro" class="fw-bold">Anunciar Pets</a>
      <a routerLink="/loginong" class="btn btn-primary">Login/Cadastro</a>
    </div>
  </nav>
</header>
