/* Fundo geral da página */
body {
    background: linear-gradient(to bottom, #e0f7fa, #fff);
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Container do login */
  .login-container {
    max-width: 800px;
    margin: 5rem auto;
    padding: 2.5rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.06);
  }
  
  /* Título */
  .login-title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
  }
  
  /* Estilo dos grupos de input */
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  /* Rótulos */
  label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 0.5rem;
    display: block;
       margin-top: 40px;
  }
  
  /* Campos de entrada */
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 0.9rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    box-sizing: border-box;
    transition: border 0.2s ease, box-shadow 0.2s ease;
    margin-top: 20px;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    border-color: #00acc1;
    box-shadow: 0 0 5px rgba(0, 172, 193, 0.3);
    outline: none;
  }
  
  /* Botão de login */
  button {
    width: 100%;
    padding: 1rem;
    margin-top: 1.5rem; /* 👉 dá espaço entre os campos e o botão */
    background-color: #f27c1e;
    color: #fff;
    border: none;
    border-radius: 0.6rem;
    font-size: 1.15rem;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
  }
  
  
  button:hover {
    background-color: #0097a7;
  }
  
  /* Responsividade */
  @media (max-width: 600px) {
    .login-container {
      padding: 2rem;
      margin: 2rem auto;
    }
  
    .login-title {
      font-size: 1.6rem;
    }
  }
  .dog-img {
  max-width: 250px;
  height: auto;
  position: relative;
  z-index: 1;
  display: block;
  margin: -160px auto 0 auto;
  margin-top: -220px; 
  margin-left: 0px;/* centralizado por padrão */
}
.section-patinhas h3 {
  color: #f27c1e;
  font-weight: 800;
  font-size: 45px;
  text-align: center;
  margin-left: 200px;
  margin-bottom: 2rem;
  position: relative;
  z-index: 1;
  margin-top: 50px;
    padding-top: 80px
}
.section-patinhas::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('/assets/Fundo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}
.section-patinhas {
  position: relative;
  z-index: 0;
  background-color: var(--bg-main);
  height: 310px;
  margin-top: -80px;
}
.text-center {
  margin-top: 30px;
}