<!-- login.component.html -->

<div class="login-container">

    
<section class="section-patinhas">
     <h3 class="login-title">Que bom que <br> voce Voltou!</h3>

  <img src="/assets/Cachorro.png" alt="Cachorro Vira-lata" class="dog-img" />
 
</section>
  

  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label">E-mail</label>
      <input
        type="email"
        [(ngModel)]="login.nome"
        name="email"
        class="form-control"
        placeholder="email@exemplo.com"
        required
      />
    </div>
    <div class="mb-3">
      <label class="form-label">Senha</label>
      <input
        type="password"
        [(ngModel)]="login.senha"
        name="senha"
        class="form-control"
        placeholder="••••••••"
        required
      />
    </div>

    <button type="submit" class="btn btn-primary w-100">Entrar</button>
  </form>

  <div *ngIf="errorMessage" class="text-danger mt-2">
    {{ errorMessage }}
  </div>

  <div class="text-center mt-3">
    <p class="small">
      Ainda não tem conta?
      <a routerLink="/cadastrong">Cadastre-se aqui</a>
    </p>
  </div>
</div>
