<div class="register-container">
  <h3 class="register-title">📋 Cadastro da ONG</h3>

  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label">Nome da ONG</label>
      <input [(ngModel)]="ong.nome" name="nome" id="nome" type="text" class="form-control" placeholder="Ex: Amigos de Patas" required />
    </div>
    <div class="mb-3">
      <label class="form-label">E-mail</label>
      <input [(ngModel)]="ong.email" name="email" id="email" type="email" class="form-control" placeholder="contato@ong.org" required />
    </div>
 
    <div class="mb-3">
      <label class="form-label">Senha</label>
      <input [(ngModel)]="ong.senha" name="senha" id="senha" type="password" class="form-control" required />
    </div>
    <div class="mb-3">
      <label class="form-label">Confirme a senha</label>
      <input name="confirmarSenha" id="confirmarSenha" type="password" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-success w-100">Cadastrar</button>
  </form>

  <div class="text-center mt-3">
    <p class="small">Já tem conta? <a href="/loginong">Faça login</a></p>
  </div>
</div>
