<section class="section-patinhas destaque-inicial">
  <div class="container-inicio">
    <img src="/assets/Cachorro.png" alt="Cachorro Viralar" class="dog-img" />
    <div class="textos">
      <h2>Transforme vidas<br><strong>com amor</strong></h2>
      <p class="slogan">Adote um amigo!</p>
    </div>
  </div>
</section>



<section class="section-missao">
  <div class="missao-box">
    <h2>
      <span class="patas">🐾</span>
      Nossa missão
      <span class="patas">🐾</span>
    </h2>
    <p>
      A viralar e uma ONG apaixonada por conceta pets resgatados a lares amorosos. Acreditamos que todo animalzinho merece um novo começo cheio de carinho!
    </p>
  </div>
</section>



<section>
  <div class="highlight">
    <h3 class="text-center mb-4">Como funciona</h3>
    <div class="how-it-works">
      <div class="step">
        <p><strong>1. Encontre um pet</strong><br>
        Explore dezenas de perfis de pets esperando por um lar</p>
        <i class="bi bi-search-heart"></i>
      </div>
      <div class="step">
        <p><strong>2. Demonstre interesse</strong><br>
        Fale com a ONG ou protetor e tire suas dúvidas</p>
        <i class="bi bi-chat-dots"></i>
      </div>
      <div class="step">
        <p><strong>3. Adote com amor</strong><br>
        Receba seu novo amigo com carinho e responsabilidade</p>
        <i class="bi bi-house-heart"></i>
      </div>
    </div>
  </div>
</section>


<section class="section-mais-adocoes">
  <div class="highlight text-center">
    <h3>+ Mais de 200 adoções realizadas!</h3>
    <p class="mt-2">Faça parte dessa corrente do bem. Doe amor, adote!</p>
  </div>
</section>
