
<section class="section-patinhas">
    <h2 class="text-center mb-5"> Pets disponíveis <br>
       para adoção</h2>

  <img src="/assets/Cachorro 2.png" alt="Cachorro Vira-lata" class="dog-img" />
 
</section>
  
<div class="filter-box">
   <h2 class="text-center mb-5">Busque seu amigo </h2>
  <form class="row g-3">
    <!-- Estado -->
    <div class="col-md-3">
      <label class="form-label">Estado</label>
      <select class="form-select" [(ngModel)]="estadoSelecionado" (change)="onUfChange(estadoSelecionado)" name="estado">
        <option value="">Selecione o estado</option>
        <option *ngFor="let uf of ufs" [value]="uf.sigla">{{ uf.nome }}</option>
      </select>
    </div>
  
    <!-- Cidade -->
    <div class="col-md-3">
      <label class="form-label">Cidade</label>
      <select class="form-select" [(ngModel)]="cidadeSelecionada" name="cidade">
        <option value="">Selecione a cidade</option>
        <option *ngFor="let cidade of cidades" [value]="cidade.nome">{{ cidade.nome }}</option>
      </select>
    </div>
  
    <!-- Porte -->
    <div class="col-md-3">
      <label class="form-label">Porte</label>
     <!-- CORRIGIDO: filtro com valores maiúsculos -->
<select class="form-select" [(ngModel)]="porteSelecionado" name="porte">
  <option value="">Todos</option>
  <option value="Pequeno">Pequeno</option>
  <option value="Médio">Médio</option>
  <option value="Grande">Grande</option>
</select>

    </div>
  
    <!-- Idade -->
   <div class="col-md-3">
  <label class="form-label">Idade</label>
  <input
    type="number"
    class="form-select"
    [(ngModel)]="idadeSelecionada"
    name="idade"
    placeholder="Digite a idade (1 a 20)"
    min="1"
    max="20"
  />
</div>

  
    <!-- Botão -->
    <div class="col-12 text-end">
    <button class="btn btn-primary" type="button" (click)="filtrarPets()">
  🔍 Buscar
</button>

    </div>
  </form>
  
</div>



<div class="container py-5">
  <div id="lista-pets" class="cards-container">
    <div class="pet-card" *ngFor="let pet of pets">
      <img [src]="pet.fotoperfil || 'https://placehold.co/300x200?text=Sem+Foto'" alt="Foto do pet">

      <h4>{{ pet.nome }}</h4>
      <p>Porte: {{ pet.porte }} | Idade: {{ pet.idade }}  | Localização: {{ pet.cidade }}</p>

      <div class="tags">
        <span class="tag" *ngFor="let tag of (pet.caracteristicas || '').split(',')">{{ tag.trim() }}</span>
      </div>

      <br />
      <a [routerLink]="['/interessados', pet.idpet]" class="btn-interesse">Tenho interesse</a>
    </div>
  </div>
</div>

<!-- Filtro de Pets -->
